<component name="ArtifactManager">
  <artifact type="war" name="springbootapp:war">
    <output-path>$PROJECT_DIR$/out/artifacts/springbootapp_war</output-path>
    <root id="archive" name="springbootapp_war.war">
      <element id="artifact" artifact-name="springbootapp:war exploded" />
    </root>
  </artifact>
</component>